name: Generate requirements.txt

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  generate-requirements:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Generate requirements.txt
        run: |
          pipreqs --force .

      - name: Check for changes
        id: check_changes
        run: |
          git diff --exit-code || echo "Changes found"

      - name: Commit and push changes
        if: steps.check_changes.outputs.result != 'Changes found'
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update requirements.txt"
          git push
